.vscode/**
.vscode-test/**
test/**
src/**
**/*.map
.gitignore
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
**/*.ts
**/*.js.map
node_modules/**
.yarnrc
**/yarn.lock
**/package-lock.json
.travis.yml
.github/**
.git/**
**/*.vsix
.DS_Store 